.card {
    background-color: white;
    padding: 15px;
    width: 32%;
    margin:2% 5%;
    text-align: center;
    height:430px;
}

.card-img {
    width: 215%;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
    height: 335px;
    position: relative;
    right: 48%;
}

.card:hover{
    cursor: pointer;
}
.left-align{
    text-align: left;
}
.card-name{
    font-size: 1.4rem;
    font-weight:700;
}
.card-price{
    font-weight:500;
    font-size: 1.2rem;
    font-size: 1rem;
    z-index: 1;
    margin-top: 3.5%;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 800;
    letter-spacing: .181818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
    cursor: pointer;
}