.card {
    background-color: #f9f9f9;
    border: 0.3px solid #ddd;
    padding: 15px;
    width: 140%;
    margin:2% 5%;
    text-align: center;
    height:430px;
}

.card-img {
    width: 100%; 
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
    height:290px;
}
.card:hover{
    cursor: pointer;
}
.left-align{
    text-align: left;
}
.card-name{
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    font-weight:700;
}
.card-price{
    font-weight:500;
    font-size: 1.2rem;
}