@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
}

.navbar p {
    font-size: .7875rem;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 400;
    color: white;
    letter-spacing: .181818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
}

.main {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 102%;
    display: flex;
    height: max-content;
    flex-direction: row;
    gap: 275px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 4%;
    margin-top: 2%;
    cursor: pointer;
}

.main h3 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    z-index: 1;
    margin-top: 3.5%;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 800;
    letter-spacing: .181818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
    cursor: pointer;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: slowMotionEffect 5s infinite;
}

@keyframes slowMotionEffect {
    0% {
        transform: scale(z);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.th {
    align-items: center;
    text-align: center;
}

.th h1 {
    font-size: 5.5rem;
    color: white;
    margin-top: 15%;
    font-family: Aeonik, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, san;
    font-weight: 1000;
    letter-spacing: .11818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
}

/*
.th span {
    color: #0c1beaa7;
    text-shadow: 
        1px 1px 0 #000,   
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000;  
}*/



/*HOME-DIV*/
#home-div {
    margin-top: 2%;
    height: 450px;
    padding-bottom: 3%;
}

#home-div h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.break {
    text-decoration: line-through;
    color: gray;
}

.discount {
    background-color: #ea2121;
    width: max-content;
    height: fit-content;
    color: white;
    border: 1.5px solid black;
    position: relative;
    bottom: 10%;
}

.hr {
    width: 100%;
    z-index: 1;
}

.hc {
    width: 25%;
    padding-left: 5%;
    position: relative;
    right: 2%;
}

.hc h5 {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}

.body-text {
    position: relative;
    bottom: 8%;
    width: 80%;
    font-size: 1.1rem;
    color: gray;
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
}

.body-img-top {
    width: 24vw;
    height: 100%;
    position: relative;
    right: 8%;
}

.gray-text {
    color: gray;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    margin-bottom: 7px;
}


.hc {
    position: relative;
    width: 25%;
    padding-left: 3%;
    right: 1%;
    overflow: hidden;
    height: 420px;
    transition: transform 0.3s ease;
}

.hc:hover {
    /* transform: translateY(-5px); */
    cursor: pointer;
}

.body-img-top {
    display: block;
}

.body-img-hover {
    display: none;
}

.hc:hover .body-img-top {
    display: none;
}

.hc:hover .body-img-hover {
    display: block;
}

/*PART-3*/

#part-3 {
    width: 100%;
    background-color: #000;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    /* margin-top: 20px; */
    margin-top: -5px;
}

.p3-part1 {
    z-index: 10;
    position: relative;
    left: 20%;
    top: 5%;
}

.p3-part1 h3 {
    color: white;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.p3-part1 p {
    color: gray;
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
}

.p3-part1 i {
    color: aliceblue;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.p3-part1 i:hover {
    color: darkslategrey;
}

.p3-part2 img {
    position: relative;
    right: 70%;
    height: 60vh;
}

.gif-video {
    position: relative;
    left: 45%;
    width: 50%;
    top: 10%
}

/*footer*/

#footer {
    background-color: #000;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border-radius: 40px 40px 0px 0px;
    gap: 180px;
    padding-bottom: 0%;
}

#footer img {
    width: 55%;
    position: relative;
    right: 5%;
    object-fit: cover;
}

.mp {
    position: relative;
    bottom: 5vw;
    display: flex;
    flex-direction: row;
    width: 30%;
}

.move-p {
    position: relative;
    top: 11vw;
    right: 40%;
    height: fit-content;
}

#footer p {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 0.8rem;
    width: 200%;
}

.mp1 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mp1 a {
    text-decoration: none;
    color: white !important;
}

.mp1 a:hover {
    color: brown !important;
    cursor: pointer;
}

.mp1 .flex-row {
    gap: 20px;
}

.mp1 .flex-row a svg {
    height: 120%;
}

.mp1 h4 {
    font-size: .7875rem;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 400;
    color: white;
    letter-spacing: .181818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
}

.mp1 a {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9rem;
}

.copyright {
    background-color: #000;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: .7875rem;
    font-family: Aeonik Fono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 400;
    color: white;
    letter-spacing: .181818181818em;
    line-height: 1.3636363636363635;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.copyright h3 {
    margin: 0;
}

.inv {
    visibility: hidden;
}

.inv-rev {
    visibility: visible;
}

.ts {
    object-fit: cover;
    width: 20%;
}

#travis-inv {
    text-align: center;
    margin: 20px;
}


.typist {
    position: relative;
    z-index: 1;
    bottom: 29vh;
    left: 15%;
    width: 100%;
}

#travis-inv {
    text-align: center;
}


.typewriter {
    line-height: 20px;
    font-size: 0.7rem;
    font-family: 'Inconsolata', monospace;
}

/*bg-gif styling*/
.background-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}




/*RESPONSIVENESS*/

@media screen and (min-width:270px) and (max-width:780px) {
    .main {
        visibility: hidden;
    }

    #home-div {
        padding-bottom: 3%;
    }

    .p3-part2 img {
        visibility: hidden;
        height: 13vh;
    }

    .inv {
        visibility: visible;
    }

    .inv-rev {
        visibility: hidden;
        width: 0px;
    }

    .body-img-top {
        width: 102vw;
        right: 4%;
    }

    .dropdown {
        visibility: visible !important;
        position: absolute;
        display: inline-block;
        z-index: 1 !important;
        top: 0.75vh;
        right: 3%;
    }
    
    .dropdown-menu{
        position: absolute;
        right:100% !important;
    }

    .th h1 {
        font-size: 2rem;
    }

    .video-background {
        height: 45vh;
    }

    .fr1 {
        flex-direction: column !important;
    }

    .hc,
    .hc:hover {
        width: 95% !important;
    }

    #part-3 {
        /* margin-top: 326%; */
        height: 60vh;
    }

    .p3-part1 h3 {
        font-size: 30px;
        width: 60vw;
    }

    .p3-part1 {
        left: 10%;
    }

    .p3-part1 p {
        font-size: 10px;
        width: 145%;
    }

    #footer img {
        left: 25%;
    }

    #footer {
        gap: 13%;
    }

    /* #footer.priv{
        margin-top: 340% !important;
    } */
    #footer.priv {
        margin-top: 60% !important;
    }

    .mp1 a {
        font-size: 0.6rem;
    }

    .ts {
        width: 55%;
    }

    .typist {
        bottom: 8vh;
        left: 3%;
        width: 95% !important;
    }

    #travis {
        align-items: center !important;
        text-align: center !important;
    }

    .typewriter {
        font-size: 0.5rem;
        text-align: left;
        line-height: 12px;
        z-index: 100;
    }
    #footer > div:nth-child(4) {
        display: none;
    }
}

